*{
  margin: 0;
  padding: 0;
}

body{
  background: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
  display: grid;
  grid-gap: 1rem;
}

a{
  text-decoration: none;
  cursor: pointer;
}

nav{
  display: flex;
  justify-content: center;
  color: rgba(255,255,255,.5);
  margin: 0.5em;
}

nav a{
  text-decoration: none;
  cursor: pointer;
  margin: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav a:hover{
  color:antiquewhite
}

.logo{
  font-weight: bolder;
  color:rgb(109, 230, 230);
}
img{
  max-width: 100%;
}
button{
  size: medium;
  font-size: small;
}