*{
  margin: 0;
  padding: 0;
}

body{
  background: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
  cursor: pointer;
}

nav{
  display: flex;
  justify-content: center;
  color: rgba(255,255,255,.5);
  margin: 0.5em;
}

nav a{
  text-decoration: none;
  cursor: pointer;
  margin: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
#searchbar input {
  padding: 0.3rem 2.5rem;
  border-radius: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  outline: rgba(255, 255, 255, 0.2) solid 1px;
  background: rgba(255, 255, 255, 0.05);
}
#searchbar form button {
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 13px;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.1rem 1rem;
  cursor: pointer;
}

#searchbar form button:hover {
  background: rgba(161, 112, 112, 0.2);
}

nav a:hover{
  color:antiquewhite
}

.logo{
  font-weight: bolder;
  color:rgb(109, 230, 230);
}
img{
  max-width: 100%;
}